body{
    background-image: url(../img/fondo.png);
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}
.container{
    width: 960px;
    background-color: #ec657c;
    
}
.container h1{
    font-family: 'Noticia Text', serif;
    color: white;
    text-align: center;
    padding-top: 30px;
}
.cont{
    display: flex;
}
.tama img{

    width: 480px;
    height: 300px;
}
.two{
    display: flex;
    justify-content: center;
    background-color: rgb(228, 194, 149);
    border-radius: 24px;
    width: 400px;
    height: 30px;
    margin-left: 250px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}
.forma p{
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: xx-large;
}
.btn1{
    width: 40px;
    height: 30px;
    background-color: plum;
    border: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    border-color: black;


}
.cont2{
    display: flex;
    justify-content: center;
}
.audio{

}